<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3> Add New Listing</h3>
    <form action="/listings"   method="post">
        <input type="text" placeholder="enter title" name="listing[title]">
        <br><br>
        <textarea  cols="20" rows="5" name="listing[description]"  placeholder="enter description" ></textarea>
        <br><br>
        <input type="text" placeholder="enter image URL/link"   name="listing[image]"> 
        <br><br>
        <input type="number" name="listing[price]" placeholder="enter price">
        <br><br>
        <input type="text" name="listing[location]" placeholder="enter location">
        <br><br>
        <button>Add</button>
    </form>
</body>
</html>